# shellcheck disable=SC2034 disable=SC2209

# Application
NODE_ENV=development
LOG_LEVEL=debug

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=abc123456

# Nginx
HTTP_PORT=80
HTTPS_PORT=443

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379
RATE_LIMIT_ENABLED=true
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_SEC=60

# gRPC
CATALOG_GRPC_URL=0.0.0.0:50051
INVENTORY_GRPC_URL=0.0.0.0:50052

# API gateway
CATALOG_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003

# JWT
JWT_AUDIENCE=food-delivery-api
JWT_CLOCK_TOLERANCE_SEC=5

# Keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=abc123456
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=abc123456
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=food-delivery
KEYCLOAK_SPA_CLIENT_ID=food-delivery-spa
